ul,li{
	display: block;
	padding: 0;
	margin: 0;
}

.menu-bar{
	padding: 20px 0;
	
}

.fonts{
	
	background: url(../static/images/head1.png)100% 100% no-repeat;
	background-size: cover; /* Масштабируем фон */
	height: 620px; 
}

.menu__item{
	font-size: 20px;
	margin-left: 35px;
	color: #ffffff;
}

.header__title{
padding: 90px 0;
text-align: center;
color: #ffffff;	
}

.screen{
	background-color: #ffc61a;
	text-align: center;	
	height: 420px;
}